workflows.json
{
  "updatedAt": "2025-11-23T01:10:22.928Z",
  "createdAt": "2025-11-23T01:05:45.244Z",
  "id": "4L52LQzflMqUKNid",
  "name": "Extract Tasks from Telegram Messages to Notion using Gemini AI and Approvals 2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "id": "2abd8dfa-9a30-40e9-a6f6-00dfebfb0a8c",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        1408,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ⚡ Starts on new Telegram message.\nTriggers the workflow when a new Telegram message arrives. ",
        "height": 336,
        "width": 304,
        "color": 5
      },
      "id": "b628bda1-d9d4-4a08-8daf-92df2068b20b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🧠 Uses AI (Gemini) to return TaskName & TaskDue.\nThis node uses an AI model (e.g., Gemini) to extract the task name and due date from the Telegram message.  \nYou can easily switch to any other AI model you prefer.\n",
        "height": 512,
        "width": 352,
        "color": 5
      },
      "id": "5fc725da-6bed-4db6-a366-48cd5c0a0c4e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1344,
        336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📩 Sends extracted task; waits for Approve or Decline.\nSends a message with the extracted task name and due date.  \nWaits for your response you can **approve** or **decline** the task.",
        "height": 448,
        "width": 304,
        "color": 5
      },
      "id": "cb518f25-0918-4c19-b56e-c5d3f4d0f459",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1744,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ⚖️ If approved → create task. If declined → notify.\nChecks if the user approved or declined the task.  \nIf **approved**, the workflow continues; if **declined**, it redirects to another step.\n",
        "height": 384,
        "width": 320,
        "color": 5
      },
      "id": "0395e170-03d3-44a2-86a2-2486587a60c4",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2096,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📩 Decline Notification  \nSends a Telegram message to the user notifying them that they **declined the task** and no task was created in Notion.\n",
        "height": 368,
        "color": 5
      },
      "id": "63aa0097-e2ad-40d5-abf0-103f132305d3",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2496,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📝 Create Notion Task  \nIf the task is approved, this node creates a new task in Notion using the extracted **task name** and **due date**.  \nAfter creation, it triggers the next node to send a Telegram notification.\n",
        "height": 320,
        "width": 512,
        "color": 5
      },
      "id": "6ccb7215-746b-4449-b8ba-a535566bb04f",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2496,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "chatIds": "YOUR_TELEGRAM_CHAT_ID"
        }
      },
      "id": "c1411a5a-f2a1-42cd-8c4a-708f2040a982",
      "name": "Telegram New Message Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        1056,
        544
      ],
      "webhookId": "eb1fee94-6a07-46f5-baae-0a3753e4a8be",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "text": "={{ $json.message.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "TaskName",
              "description": "This is the name of the task. The task name should be in the title case.",
              "required": true
            },
            {
              "name": "TaskDue",
              "type": "date",
              "description": "This is the due date of the task."
            }
          ]
        },
        "options": {}
      },
      "id": "1214ca68-7ced-4a27-b4b5-30caad364092",
      "name": "AI Extract: TaskName & TaskDue",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        1408,
        544
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram New Message Trigger').item.json.message.from.id }}",
        "message": "=Task Name: {{ $json.output.TaskName }}\nDue Date: {{ $json.output.TaskDue }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Approve",
            "disapproveLabel": "Decline"
          }
        },
        "options": {
          "appendAttribution": false
        }
      },
      "id": "093e6dab-b137-4d80-8bff-09ff03f1018b",
      "name": "Send message and wait for response (Approve/Decline)",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1840,
        544
      ],
      "webhookId": "e8b05b82-08e2-4462-95b1-9d46a3c327c3",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "9d302e0c-44e2-4b9e-a3ed-8d21e67945ed",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "a5b24cc6-1ba0-400f-a218-c5ddcbff2574",
      "name": "Approval Check (If Approved?)",
      "type": "n8n-nodes-base.if",
      "position": [
        2192,
        544
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": "282c6fb7-beaa-80b5-9051-ce57efc79002",
          "cachedResultUrl": "https://www.notion.so/YOUR_NOTION_DATABASE_ID",
          "cachedResultName": "Tasks Testing"
        },
        "title": "={{ $('AI Extract: TaskName & TaskDue').item.json.output.TaskName }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Date|date",
              "includeTime": false,
              "date": "={{ $('AI Extract: TaskName & TaskDue').item.json.output.TaskDue }}"
            }
          ]
        },
        "options": {}
      },
      "id": "80e06ae0-4eb1-43fa-8215-828500e1a7df",
      "name": "Notion: Create Task (Page)",
      "type": "n8n-nodes-base.notion",
      "position": [
        2576,
        416
      ],
      "typeVersion": 2.2,
      "credentials": {
        "notionApi": {
          "id": "x5lw6zuR4KfefrmO",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram New Message Trigger').item.json.message.from.id }}",
        "text": "=✅ Task created in Notion.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "8c629f2a-04bf-4ffe-960f-6ca107f6f13d",
      "name": "Notify: Task Created (Telegram)",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2784,
        416
      ],
      "webhookId": "1c5bee4c-59bd-4bc5-9091-7db21831d653",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram New Message Trigger').item.json.message.from.id }}",
        "text": "=❌ Task not created in Notion.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "a5ff4f45-4ef8-4474-992b-a73b5983b462",
      "name": "Notify: Declined - No Task (Telegram)",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2560,
        800
      ],
      "webhookId": "1c5bee4c-59bd-4bc5-9091-7db21831d653",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## 🔧 Setup & Requirements\n- Gemini API key (add as Google Palm / Gemini credential in n8n).  \n- Notion integration + database with properties:  \n  - **TaskName** (Title) — stores the task name.  \n  - **TaskDue** (Date) — stores the due date (use ISO `YYYY-MM-DD`).  \n- Telegram bot token (add as Telegram credential in n8n).  \n- A running n8n instance (cloud or self-hosted).\n\n## Quick setup\n1. Add credentials in n8n: Google Palm / Gemini, Notion, and Telegram.  \n2. Open the **Notion: Create Task (Page)** node and set **Database ID** to `YOUR_NOTION_DATABASE_ID`.  \n3. Open the **Telegram New Message Trigger** node → Additional Fields → set `chatIds` to `YOUR_TELEGRAM_CHAT_ID` to restrict the trigger to your chat only.  \n4. Save and test with a sample message.\n\n## Security notes\n- Do **not** hardcode API keys or tokens in HTTP or node fields — always use n8n credential stores.  \n- Replace all placeholders (`YOUR_NOTION_DATABASE_ID`, `YOUR_TELEGRAM_CHAT_ID`, credential names) before sharing the workflow.\n\n## Quick test example\nSend to your bot: `Remind me to submit the report on 26th october 2025` → approve the message → verify a Notion task appears with Title = TaskName and Date = TaskDue.\n",
        "height": 688,
        "width": 544,
        "color": 7
      },
      "id": "5f21dcbb-1d6d-4b16-8395-84a884a5e4fb",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Extract: TaskName & TaskDue",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Create Task (Page)": {
      "main": [
        [
          {
            "node": "Notify: Task Created (Telegram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram New Message Trigger": {
      "main": [
        [
          {
            "node": "AI Extract: TaskName & TaskDue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Check (If Approved?)": {
      "main": [
        [
          {
            "node": "Notion: Create Task (Page)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify: Declined - No Task (Telegram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Extract: TaskName & TaskDue": {
      "main": [
        [
          {
            "node": "Send message and wait for response (Approve/Decline)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response (Approve/Decline)": {
      "main": [
        [
          {
            "node": "Approval Check (If Approved?)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "9271"
  },
  "pinData": {},
  "versionId": "bf8ea976-621f-4083-8d79-272a30ba5bc7",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-23T01:05:45.244Z",
      "createdAt": "2025-11-23T01:05:45.244Z",
      "role": "workflow:owner",
      "workflowId": "4L52LQzflMqUKNid",
      "projectId": "gzdFK2cRUyHfm2gz"
    }
  ],
  "tags": []
}